.container {
  width: 1650px;
  margin: 0 auto;
}
/* ===============header============== */
.width_h {
  width: 1740px;
  margin: 0 auto;
}
#header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  z-index: 100;
}
.header_top {
  width: 100%;
  height: 33px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.header_top .header_link {
  width: 220px;
}
.header_top .header_link a {
  color: #fff;
  line-height: 30px;
  font-weight: 100;
  font-size: 16px;
}
.header_top .header_link a:first-child {
  margin-right: 20px;
}
.header_top .header_link a:first-child::after {
  content: "|";
  display: inline-block;
  font-size: 8px;
  padding-left: 15px;
}
.header_nav {
  width: 100%;
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2) 80px,
    rgba(0, 0, 0, 0.1) 81px,
    rgba(0, 0, 0, 0.1)
  );
  height: 80px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  
}
.header_nav li a:hover {
  color: rgb(255, 255, 134);
}
.header_nav.active {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6) 80px,
    rgba(0, 0, 0, 0.6) 81px,
    rgba(0, 0, 0, 0.6)
  );
  height: 80px;
  overflow: hidden;
}
.header_nav.active a,
.header_nav.active li {
  color: #fff;
}
.header_nav nav > ul > li ~ li {
  line-height: 80px;
  margin-right: 20px;
  position: relative;
  width: 140px;
  text-align: center;
}
.header_nav nav > ul > li ul li {
  line-height: 30px;
}
.header_nav nav > ul > li.logo > h1 {
  text-indent: -99999999px;
  font-size: 12px;
}
.header_nav nav > ul > li.logo > a {
  display: block;
  background: url(../img/logo_pc.png) no-repeat;
  width: 142px;
  height: 35px;
  background-size: contain;
  margin-right: 320px;
}
.header_nav nav > ul > li > h4 > a {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.header_nav nav > ul > li ul {
  position: absolute;
  width: 100%;
}
.header_nav nav > ul > li ul li a {
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  font-weight: 200;
}
.header_nav nav > ul > li.lang_pop select {
  width: 50px;
  background: none;
  font-size: 16px;
  color: #fff;
  margin-left: 350px;
  line-height: 80px;
}
.header_nav nav > ul > li.hamburger{
  padding-top: 32px;
  line-height: 80px;
  width: 30px;
  height: 20px;
}
.header_nav nav > ul > li.hamburger a span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #fff;
}
.header_nav nav > ul > li.hamburger a span:nth-child(2) {
  margin: 5px 0;
}
/*================#container==================*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Swiper1 .swiper-button-next,
.Swiper1 .swiper-button-prev {
  color: rgb(255, 255, 134);
}
.banner {
  display: block;
  width: 100%;
  height: 770px;
  object-fit: contain;
  z-index: 1;
}
.banner img {
  width: 100%;
  height: 110vh;
}
.search_wrap {
  margin: 0 auto;
  width: 1000px;
  height: 50px;
}
.search_wrap {
  width: 1000px;
  height: 70px;
  margin: 50px auto;
  padding: 0 15px 0 55px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  box-sizing: border-box;
}
.search_wrap img {
  width: 22px;
  height: 22px;
  float: left;
  margin-top: 23px;
}
.search_wrap input {
  font-size: 16px;
  width: 700px;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 10px;
  font-weight: 200;
}
.search_wrap button {
  width: 180px;
  height: 55px;
  float: left;
  border-radius: 50px;
  margin-top: 7px;
  margin-left: 18px;
  background: #e0462e;
  cursor: pointer;
  color: #fff;
}
/*---content1---*/
.content1 {
  margin-top: 250px;
  height: 500px;
  text-align: center;
}
.content1 h2 {
  font-size: 38px;
}
.content1 .slide_size1 span {
  display: block;
  width: 242px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 46px;
  color: #1b1b1b;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 200px;
  margin-top: 5px;
}
.slide_size1 {
  height: 242px;
  margin-top: 140px;
  background: none;
}
.slide_size1 img {
  height: 242px;
}
/*---content2---*/
.content2 {
  margin-top: 250px;
  height: 500px;
  text-align: center;
}
.content2 h2 {
  font-size: 38px;
  margin-bottom: 40px;
}
.slide_size2 {
  height: 250px;
  border-radius: 30px;
}
.swiper3 .slide_size2 a img {
  width: 150px;
}
/*---content3---*/
.content3 .service {
  width: 1310px;
  margin: 20px auto;
}
.content3 .service a {
  display: block;
  width: 635.34px;
  height: 280px;
  border-radius: 30px;
}
.content3 .service a:first-child {
  margin-right: 38px;
}
.content3 .qna {
  padding: 60px 45px;
  width: 1218px;
  height: 687px;
  margin: 0px auto;
  border: 1px solid #999;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.content3 .qna h3 {
  width: 1060px;
  height: 62px;
  font-size: 32px;
  line-height: 62px;
  margin: 0;
}
.content3 .qna > a {
  display: block;
  width: 150px;
  height: 62px;
  border: 1px solid #999;
  text-align: center;
  line-height: 62px;
  border-radius: 50px;
}

/*=============footer============*/
#footer {
  width: 100%;
  height: 387px;
  background: #1b1b1b;
  margin-top: 140px;
}
.footer_wrap {
  width: 1903px;
  height: 387px;
  background: #1b1b1b;
}
