.container {
  max-width: 1650px;
  margin: 0 auto;
}
/* ===============header============== */
.width_h {
  max-width: 1740px;
  margin: 0 auto;
}
#header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  z-index: 100;
}
.header_top {
  width: 100%;
  height: 33px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.header_top .header_link {
  width: 220px;
}
.header_top .header_link a {
  color: #fff;
  line-height: 30px;
  font-weight: 100;
  font-size: 1rem;
}
.header_top .header_link a:first-child {
  margin-right: 20px;
}
.header_top .header_link a:first-child::after {
  content: "|";
  display: inline-block;
  font-size: 8px;
  padding-left: 15px;
}
.header_nav {
  width: 100%;
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2) 80px,
    rgba(0, 0, 0, 0.1) 81px,
    rgba(0, 0, 0, 0.1)
  );
  height: 80px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.header_nav .width_h ul li a:hover {
  color: rgb(255, 255, 134);
}
.header_nav.active {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6) 80px,
    rgba(0, 0, 0, 0.6) 81px,
    rgba(0, 0, 0, 0.6)
  );
  height: 80px;
  overflow: hidden;
}
.header_nav.active a,
.header_nav.active li {
  color: #fff;
}
.header_nav .width_h ul > li {
  line-height: 80px;
  position: relative;
  width: 160px;
  text-align: center;
}
.header_nav .width_h ul > li ul li {
  line-height: 30px;
}
.header_nav .width_h .logo > h1 {
  text-indent: -99999999px;
  font-size: 12px;
}
.header_nav .width_h .logo > a {
  display: block;
  background: url(../img/logo_pc.png) no-repeat;
  width: 142px;
  height: 35px;
  background-size: contain;
  margin-right: 330px;
}
.header_nav .width_h ul > li > h4 > a {
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
}
.header_nav .width_h ul > li ul {
  position: absolute;
  width: 100%;
}
.header_nav .width_h ul > li ul li a {
  line-height: 1.75;
  color: #fff;
  font-weight: 200;
}
.header_nav .width_h .menu_bar {
  width: 100px;
  height: 80px;
}
.header_nav .width_h .menu_bar .lang_pop {
  width: 50px;
  background: none;
  font-size: 1rem;
  color: #fff;
  line-height: 80px;
  margin-top: 27px;
}
.header_nav .width_h .menu_bar .hamburger {
  padding-top: 32px;
  line-height: 80px;
  width: 30px;
  height: 20px;
}
.header_nav .width_h .menu_bar .hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}
.header_nav .width_h .menu_bar .hamburger span:nth-child(2) {
  margin: 5px 0;
}
/*================#container==================*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Swiper1 .swiper-button-next,
.Swiper1 .swiper-button-prev {
  color: #e0462e;
}
.banner {
  display: block;
  width: 100%;
  height: 85vh;
  object-fit: contain;
  z-index: 1;
}
.banner img {
  width: 100%;
  height: 110vh;
}
.search_wrap {
  max-width: 1000px;
  height: 70px;
  margin: 40px auto;
  padding: 0 15px 0 55px;
  border-radius: 128px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #c9c9c9, -8px -8px 16px #ffffff;
  box-sizing: border-box;
}
.search_wrap img {
  width: 22px;
  height: 22px;
  float: left;
  margin-top: 23px;
}
.search_wrap input {
  font-size: 16px;
  width: 700px;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 10px;
  font-weight: 200;
}
.search_wrap button {
  width: 180px;
  height: 55px;
  float: left;
  border-radius: 50px;
  margin-top: 7px;
  margin-left: 18px;
  background: #e0462e;
  cursor: pointer;
  color: #fff;
}
/*---content1---*/
.content1 {
  margin-top: 200px;
  text-align: center;
}
.content1 h2 {
  font-size: 2.375rem;
  letter-spacing: -1;
}
.content1 .Swiper2 {
  height: 380px;
}
.content1 .slide_size1 span.ct1_mw {
  display: block;
  width: 242px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 46px;
  color: #1b1b1b;
  text-align: center;
  border-radius: 50px;
  font-size: 1.0625rem;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: -0.25px;
}
.content1 .slide_size1 span.ct1_hw {
  display: none;
}
.content1 .Swiper2 .swiper-button-next,
.content1 .Swiper2 .swiper-button-prev {
  color: #1b1b1b;
}
.slide_size1 {
  height: 242px;
  margin-top: 90px;
  background: none;
}
.slide_size1 a {
  transition: all 0.5s;
}
.slide_size1 a:hover {
  margin-bottom: 25px;
}
.slide_size1 a:hover span.ct1_mw {
  display: none;
}
.slide_size1 a:hover span.ct1_hw {
  display: block;
  background: #e0462e;
  text-align: center;
  width: 242px;
  height: 46px;
  font-size: 1.0625rem;
  color: #fff;
  border-radius: 50px;
  line-height: 46px;
  font-weight: 200;
}
.slide_size1 img {
  height: 242px;
}
/*---content2---*/
.content2 {
  margin-top: 200px;
  height: 500px;
  text-align: center;
  margin-bottom: 140px;
}
.content2 h2 {
  text-align: center;
  font-size: 2.375rem;
  letter-spacing: -1;
  text-align: center;
}
.content2 .Swiper3 {
  height: 360px;
}
.content2 .Swiper3 .swiper-button-next,
.content2 .Swiper3 .swiper-button-prev {
  color: #1b1b1b;
}

.content2 .slide_size2 a {
  width: 242px;
  height: 242px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.content2 .slide_size2 span {
  display: none;
}
.content2 .slide_size2 a:hover {
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: block;
  position: relative;
}
.content2 .slide_size2 a:hover img {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: scale(0.8) translateX(-60%);
}
.content2 .slide_size2 a:hover span.ct2_btn {
  display: block;
  background: #e0462e;
  width: 217px;
  height: 43px;
  border-radius: 40px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 43px;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 200;
}
.content2 .slide_size2 a:hover span.ct2_txt {
  display: block;
  width: 170px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #1b1b1b;
  font-weight: 200;
  letter-spacing: -1;
  font-size: 1rem;
}

/*---content3---*/
.content3 .service {
  width: 1310px;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #ffffff;
  height: max-content;
  border-radius: 50px;
  padding: 60px 45px;
  box-sizing: border-box;
}
.content3 h2 {
  text-align: center;
  font-size: 2.375rem;
  letter-spacing: -0.25;
  font-weight: 400;
  margin-bottom: 80px;
}
.content3 .service .ct3_box {
  display: block;
  width: 590px;
  height: 325px;
  border-radius: 30px;
  margin: 30px 10px 50px 10px;
  padding: 45px 50px;
}
.content3 .service .ct3_box:nth-child(1) {
  background: url(../img/sec04_backimg01.png) no-repeat center;
  background-size: contain;
}
.content3 .service .ct3_box:nth-child(2) {
  background: url(../img/sec04_backimg02.png) no-repeat center;
  background-size: contain;
}
.content3 .service .ct3_box h4 {
  font-size: 2rem;
  letter-spacing: -1.6px;
  color: #1b1b1b;
  padding-bottom: 30px;
}
.content3 .service .ct3_box h4.call {
  font-size: 2.875rem;
  font-weight: 500;
  line-height: 1;
}
.content3 .service .ct3_box p {
  color: #1b1b1b;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: -1.5;
}
.content3 .service .ct3_box p span {
  color: #e0462e;
  font-weight: 400;
  padding-left: 14px;
}
.content3 .service .ct3_box > span {
  display: block;
  width: 160px;
  height: 43px;
  background: #e0462e;
  border: 1px solid rgba(224, 223, 226, 0.6);
  text-align: center;
  line-height: 43px;
  border-radius: 38px;
  color: #fff;
  margin-top: 60px;
}
.content3 .service .q_tit h4 {
  width: 1040px;
  color: #1b1b1b;
  font-size: 1.625rem;
  margin-left: 10px;
  line-height: 30px;
}
.content3 .service .q_tit .viewmore {
  color: #1b1b1b;
  display: block;
  width: 160px;
  height: 43px;
  border: 1px solid rgba(224, 223, 226, 0.6);
  text-align: center;
  line-height: 43px;
  border-radius: 38px;
}
.content3 .service .q_tit .viewmore:hover {
  background: #e0462e;
  color: #fff;
  transition: all 0.5s;
}
.content3 .service .Question {
  width: 1220px;
  height: 260px;
  margin-top: 20px;
}
.content3 .service .Question .q_box {
  width: 560px;
}
.content3 .service .Question .q_box:nth-child(odd) {
  margin-right: 90px;
}
.content3 .service .Question .q_box a {
  display: block;
  width: 560px;
  height: 80px;
  padding: 0 10px 0 30px;
  text-align: left;
  line-height: 80px;
  border-radius: 50px;
  box-sizing: border-box;
  background: #f9f9f9;
  box-shadow: inset 6px 6px 30px #cacaca, inset -6px -6px 30px #ffffff;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.content3 .service .Question .q_box a span.ct3_q_txt {
  display: inline-block;
  color: #1b1b1b;
  font-size: 1.0625rem;
  font-weight: 300;
  letter-spacing: -1.5px;
  width: 460px;
  transition: all 0.5s;
}
.content3 .service .Question .q_box a span.ct3_q_arrow {
  display: none;
  transition: all 0.5s;
}
.content3 .service .Question .q_box a:hover span.ct3_q_txt {
  font-weight: 500;
}
.content3 .service .Question .q_box a:hover span.ct3_q_arrow {
  display: inline-block;
  width: 47px;
  height: 47px;
  background-color: #e0462e;
  border-radius: 47px;
  line-height: 47px;
  text-align: center;
  transition: all 0.5s;
}
.content3 .employee {
  width: 1310px;
  margin: 0 auto;
}
.content3 .employee h2 {
  text-align: center;
  font-size: 2.375rem;
  letter-spacing: -0.25;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 100px;
}
.content3 .employee .employee_box {
  display: block;
  width: 635px;
  height: 230px;
  margin-top: 30px;
  border-radius: 50px;
  box-sizing: border-box;
  background: #f9f9f9;
  box-shadow: inset 6px 6px 30px #cacaca, inset -6px -6px 30px #ffffff;
  padding: 78px 25px 58px;
}
.content3 .employee .employee_box:nth-child(2) {
  margin-right: 40px;
}
.content3 .employee .employee_box span {
  display: block;
  text-align: center;
}
.content3 .employee .employee_box span.employee_txt {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1.25;
  margin-bottom: 30px;
}
.content3 .employee .employee_box span.employee_btn {
  width: 160px;
  height: 43px;
  background: #e0462e;
  border: 1px solid rgba(224, 223, 226, 0.6);
  border-radius: 43px;
  color: #fff;
  line-height: 43px;
  margin: 0 auto;
}
/*=============footer============*/
#footer {
  width: 100%;
  height: 387px;
  background: #1b1b1b;
  margin-top: 140px;
}
#footer .footer_wrap {
  height: 387px;
  background: #1b1b1b;
}
.footer_1 {
  height: 30px;
  padding-top: 40px;
}
.footer_1 div a {
  color: #ffffff4d;
  font-size: 14px;
  display: block;
  margin-left: 30px;
}
.footer_2 {
  width: 1740px;
  height: 200px;
  margin-top: 50px;
}
.footer_2 p {
  font-size: 17px;
  margin: 10px 0;
  color: #ffffffb3;
  font-weight: 200;
  text-align: left;
}
.footer_3 {
  width: 1740px;
  height: 70px;
  line-height: 70px;
}
.footer_3 p {
  color: #ffffff33;
  font-size: 14px;
  font-weight: 200;
}
.footer_3 .sns_wrap {
  width: 40%;
}
.footer_3 .sns_wrap a.sns {
  width: 70px;
  height: 70px;
  border-radius: 121px;
  background: #1b1b1b;
  box-shadow: 5px 5px 10px #101010, -5px -5px 10px #262626;
  text-align: center;
  margin: 0 10px;
}
.footer_3 .sns_wrap a.store {
  width: 335px;
  height: 70px;
  border-radius: 121px;
  background: #1b1b1b;
  box-shadow: 5px 5px 10px #101010, -5px -5px 10px #262626;
  text-align: left;
  box-sizing: border-box;
}
.footer_3 .sns_wrap a.store img {
  margin-right: 10px;
  margin: 10px 10px 0 20px;
}
.footer_3 .sns_wrap a.store span{
  font-size: 14px;
  color: #999999ab;
  display: inline-block;
  letter-spacing: -1.75px;
}
.footer_3 .sns_wrap a.store span strong {
  font-size: 16px;
  color: #999999ab;
  font-weight: 600;
}
.footer_3 .sns_wrap a.store .store_btn {
  transform: rotate(-90deg);
  margin-top: 32px;
  margin-right: 30px;
}
footer #shop {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #ffffff;
  border-radius: 55px;
  color: #1b1b1b;
  position: fixed;
  bottom: 13em;
  right: 3em;
  box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 6%), inset 0px 5px 10px 0 rgb(255 255 255 / 14%);
  line-height: 55px;
  text-align: center;
  font-size: 13px;
  z-index: 600;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#shop.visible {
  opacity: 1;
}
#back_to_top {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #000;
  border-radius: 55px;
  position: fixed;
  bottom: 8em;
  right: 3em;
  line-height: 55px;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  padding-top: 3px;
  z-index: 600;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
#back_to_top.visible {
  opacity: 1;
}


/*tablet*/

@media screen and (min-width:1281px) and (max-width:1400px) {
  .width_h {
    width: 96%;
  }
  .header_nav .width_h .logo > a {
    display: block;
    background: url(../img/logo_pc.png) no-repeat left;
    width: 142px;
    height: 35px;
    background-size: contain;
    margin-right: 110px;
  }
  .header_nav .width_h li {
    line-height: 80px;
    position: relative;
    width: 12%;
    text-align: center;
  }
  .header_nav .width_h .lang_pop select {
    width: 50px;
    background: none;
    font-size: 16px;
    color: #fff;
    margin-left: 100px;
    line-height: 80px;
  }
  .search_wrap input {
    font-size: 16px;
    width: 74%;
    height: 40px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 10px;
    font-weight: 200;
  }
  .search_wrap button {
    width: 20%;
    height: 55px;
    float: left;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: 18px;
    background: #e0462e;
    cursor: pointer;
    color: #fff;
  }
  .slide_size1 img {
    height: 225px;
  }
  .content1 .slide_size1 span.ct1_mw {
    width: 225px;
  }
  .slide_size1 a:hover span.ct1_hw {
    width: 225px;
  }
  .content1 .slide_size1 span.ct1_hw {
    display: none;
  }
  .content3 .service {
    width: 98%;
    height: 1120px;
  }
  .content3 .service .ct3_box {
    width: 48%;
    margin-bottom: 40px;
  }
  .content3 .service .q_tit h4 {
    width: 82%;
    height: auto;
  }
  .content3 .service .q_tit .viewmore {
    width: 16%;
  }
  .content3 .service .Question {
    width: 100%;
  }
  .content3 .service .Question .q_box {
    width: 100%;
  }
  .content3 .service .Question .q_box a {
    width: 100%;
  }
  .content3 .employee {
    width: 98%;
  }
  .content3 .employee .employee_box {
    width: 48%;
  }
  .footer_3 .sns_wrap {
    width: 65%;
  }
  .content3 .service .Question .q_box a span.ct3_q_txt {
    width: 95%;
  }
}
/* //1281~1400 */

@media screen and (min-width:801px) and (max-width:1280px) {
  .width_h {
    width: 96%;
  }
  .header_nav .width_h .logo > a {
    display: block;
    background: url(../img/logo_pc.png) no-repeat left;
    width: 142px;
    height: 35px;
    background-size: contain;
    margin-right: 50px;
  }
}
/* //801~1280 */
@media screen and (max-width:800px) {

}